.index {
  height: 100vh;
  position: relative;
  background-color: #f3f3f3;

  .at-card__header {
    display: none;
  }

  .at-card__content {
    padding: 0;
  }
}

.scanCode {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 80px;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px;
  margin-bottom: 20px;
  box-sizing: border-box;
  z-index: 999;

  &-img {
    width: 48px;
    height: 48px;
  }
}

.itemWrapper {
  width: 100%;
  padding: 90px 0 0;
  // height: calc(100vh - 180px);
  height: 100vh;
  box-sizing: border-box;
  // padding: 20px 0;
}

.card {
  // height: 180px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card-view {
  margin: 0;
}

.card-pic-wrapper {
  flex: none;
  width: 80px;
  height: 100%;
  margin: auto;
  margin-left: 20px;
  margin-right: 15px;
  max-width: 200px;
}

.card-pic {
  display: block;
  width: 80px;
  height: 80px;
}

.card-content {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.card-content view {
  padding-top: 5px;
  font-size: 30px;
  color: #1a1a1a;
  //   flex: 1;
}

.card-content .card-phone {
  font-size: 32px;
  color: #0182E5;
}

.card-content .card-item {
  font-size: 24px;
}

.card-right {
  line-height: 180px;
  max-width: 10.33333%;
}

.index-bottom {
  background-color: #0182e5;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #fefefe;
  font-size: 30px;
}
